/*
   New Perspectives on HTML and CSS
   Tutorial 5
   Tutorial Case

   Tables Style Sheet
   Author: Tyler Ronek
   Date:   3/2/2016

   Filename:         tables.css
   Supporting Files: 

*/

