/*
   New Perspectives on HTML and CSS
   Tutorial 4
   Case Problem 2

   Pizza Style Sheet
   Author: Tyler Ronek
   Date:   2/17/2016

   Filename:         pizza.css
   Supporting Files: redball.htm

*/


header, section, aside, nav {
    display: block;
}

body {
    background-color: red;
    font-family: Verdana, Geneva, sans-serif;
    padding: 0px;
    margin: 0px;
}