/*
   New Perspectives on HTML and CSS
   Tutorial 9
   Case Problem 1

   Kelsey's Diner Style Sheet

   Author:    
   Date:      

   Filename:         kdstyles.css
   Supporting Files: 

*/

img {
   border-width: 0px;
}



