/*
   New Perspectives on HTML and CSS
   Tutorial 3
   Case Problem 2

   Mountain Wheels Text and Color Style
   Author: Tyler Ronek
   Date:   2/17/2016

   Filename:         mw_layout.css
   Supporting Files: none

*/

/* Body Styles */

body {
    font-family: Tahoma, Geneva, sans-serif;
}

/* Header Styles */

#articleheader {
    font-size: 18px;
    font-weight: normal;
    font-kerning: 7px;
    text-align: center;
}

/* Navigation Styles */

nav ul {
    background-color: rgb(125, 120, 89);
    line-height: 3em;
    list-style-type: none;
}

nav ul li a {
    color: white;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}